* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: linear-gradient(#11998e, #38ef7d);
  background-size: cover;
  background-position: center;
}

input {
  position: absolute;
  top: 560px;
  left: 45%;
  border: none;
  background: none;
  border-bottom: 2px solid black;
  font-size: 16px;
  color: black;
  font-weight: 400;
  width: 150px;
}

input:focus {
  outline: 0;
}

span {
  margin: 0px 10px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.blank {
  display: flex;
}

button {
  height: 30px;
  width: 60px;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 20px;
  color: white;
}

.score .heading h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

pre {
  font-size: 12px;
}

#mobile-warning {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1000;
}

#mobile-warning p {
  margin-bottom: 15px;
}

#close-warning {
  cursor: pointer;
  color: #3498db;
  text-decoration: underline;
}

@keyframes blastAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(5);
  }
}

.blast {
  animation: blastAnimation 0.5s ease-out;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  /* Adjustments for tablets */
  input {
    width: 200px;
  }
}

@media only screen and (min-width: 768px) {
  /* Adjustments for small desktops */
  input {
    width: 250px;
    top: 85%;
    left: 40%;
    transform: translateX(30%);
    transform: translateY(90%);
  }
}

@media only screen and (min-width: 992px) {
  /* Adjustments for medium desktops */
  input {
    width: 300px;
    top: 85%;
    left: 40%;
    transform: translateX(30%);
    transform: translateY(90%);
  }
}

@media only screen and (min-width: 1200px) {
  /* Adjustments for large desktops */
  input {
    width: 300px;
    top: 85%;
    left: 40%;
    transform: translateX(30%);
    transform: translateY(90%);
  }
}
